.room-container {
     position: relative;
     text-align: left;
     font-size: 3rem;
     font-weight: 200;               
     letter-spacing: 0.5rem;
     padding-top: 20px;
     padding-bottom: 10px;
     text-shadow: 2px 2px 1px rgb(0, 0, 0);
     color:yellow;
     
 }

.room-data-table .room-name {
     position: relative;
     text-align: left;
     padding-top: 10px;
     padding-left: 40px;
     font-size: 2rem;
     font-weight: 200;               
     letter-spacing: 0.5rem;
     text-shadow: 2px 2px 1px rgb(0, 0, 0);
     color:aliceblue
}