<section class="message-container" ng-submit="sendMessage()">

   <div class="message-title">Messages</div>
    
   <div class="message-room">{{ msg.currentRoomName }}</div>
    
   <div class="message-start">Room Messages Below:</div>    
    
    <table class="message-data-table">
         <tr class="room-messages" ng-repeat="message in allMessages">
             
             <td class="message-data-data">
             {{ message.username }} <BR>
             {{ message.content }} <BR>
             {{ message.sentAt }}
             </td>
             
         </tr>
     </table>
        
<form class="message-text-input">
 <div class="form-group">    
   <input class="form-control input-lg" type="text" ng-model="messageText" placeholder="Type message here..."> 
 </div>
 <button type="submit" class="btn btn-primary" ng-click="msg.sendMessage()">Submit</button> 
</form>        
   
</section>