<form class="usernameEntry" ng-submit="enterUsername()"> 
       
   <div class="modal-user-name-title">
            <h3 class="modal-title">Set a username</h3>
   </div>
   
   <div class="form-group">       
       <label class="modal-input-box">This name will appear when you send messages</label>
       <input type="text" class="form-control" ng-model="userName">
   </div> 
    
   <div class="form-group"> 
       <div class="buttons">
           <button type="button" class="btn btn-default btn-sm" ng-click="user.enterUsername()">Set Username</button>
       </div>   
   </div>   

</form>